$plungePool: rgb(0, 255, 206) !default;
$orchid: rgb(121, 126, 247) !default;
$winterEscape: rgb(180, 233, 235) !default;
$tristesse: rgb(10, 18, 30) !default;
$strawberryField: rgb(255, 129, 133) !default;
$feltGreen: rgb(116, 193, 144) !default;
$yellowVarnish: rgb(235, 179, 97) !default;
