:root {
  --app-elevation-none: 0px;
  --app-elevation-hover:
    0px 0px 0px rgba(0, 0, 0, 0.01), 0px 0px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px rgba(0, 0, 0, 0.03),
    0px 1px 2px rgba(0, 0, 0, 0.03), 0px 1px 3px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.05);
  --app-elevation-active:
    0px 0px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 1px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.1);

  --app-elevation-float:
    0px 0px 0px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(0, 0, 0, 0.02), 0px 1px 3px rgba(0, 0, 0, 0.04),
    0px 2px 5px rgba(0, 0, 0, 0.05), 0px 3px 8px rgba(0, 0, 0, 0.06), 0px 4px 12px rgba(0, 0, 0, 0.07);
  --app-elevation-float-hover:
    0px 0px 1px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.03), 0px 1px 5px rgba(0, 0, 0, 0.05),
    0px 2px 8px rgba(0, 0, 0, 0.07), 0px 3px 13px rgba(0, 0, 0, 0.08), 0px 4px 18px rgba(0, 0, 0, 0.1);
  --app-elevation-float-active:
    0px 0px 1px rgba(0, 0, 0, 0.02), 0px 0px 3px rgba(0, 0, 0, 0.05), 0px 1px 6px rgba(0, 0, 0, 0.07),
    0px 2px 11px rgba(0, 0, 0, 0.1), 0px 3px 17px rgba(0, 0, 0, 0.12), 0px 4px 24px rgba(0, 0, 0, 0.15);
}
