/* @link https://utopia.fyi/type/calculator?c=320,14,1.067,1680,16,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.56rem, calc(0.82rem + -0.24vw), 0.77rem);
  --step--1: clamp(0.75rem, calc(0.84rem + -0.08vw), 0.82rem);
  --step-0: clamp(0.88rem, calc(0.85rem + 0.15vw), 1.00rem);
  --step-1: clamp(0.93rem, calc(0.84rem + 0.47vw), 1.33rem);
  --step-2: clamp(1.00rem, calc(0.81rem + 0.92vw), 1.78rem);
  --step-3: clamp(1.06rem, calc(0.76rem + 1.54vw), 2.37rem);
  --step-4: clamp(1.13rem, calc(0.66rem + 2.38vw), 3.16rem);
  --step-5: clamp(1.21rem, calc(0.50rem + 3.53vw), 4.21rem);
}
