@use 'globals' as *;
@use 'colours' as *;
@use 'mixins' as *;

@import 'fluid-scale';
@import 'fluid-space';


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

:root {
  --base-font-family: #{$fontFamily};

  --app-gradient-primary: linear-gradient(15deg, #{$orchid}, #{$plungePool});
  @include createTheme($variables);
}

html,
body,
#app {
  background-color: var(--app-color-background);
  color: var(--app-color-on-background);
  font-family: var(--base-font-family);
  font-size: var(--step-0);
  line-height: 1.5;
}

h1, h2 {
  background: makePrimaryGradient(5deg, .5);
  color: transparent;
  width: fit-content;
  -webkit-background-clip: text;
  background-clip: text;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

$base-font-size: 1rem;
$base-border-radius:	1em;
$base-line-height: 1.5;
$base-disabled-opacity: 0.5;
$speed: 200ms;
$speed-slow: 150ms;
$speed-slower: 250ms;
$easing: ease-out;
$control-border-width:	1px;
$control-height:	2.25em;
$white:	#ffffff;
$black:	#000000;
$grey:	#7a7a7a;
$grey-light:	#b5b5b5;
$grey-lighter:	#dbdbdb;
$primary: $plungePool;
$primary-invert: #0a121e;
$danger:	#b60000;
$danger-invert:	$white;
$warning:	#f4c300;
$warning-invert:	$black;
$success:	#006724;
$success-invert:	$white;
$info:	#005C98;
$info-invert:	$white;
$whitelist:	();
$sass-vars:	true;
$css-vars:	true;
$variable-prefix:	'--jjk-';
$sizes:	(
  "small": .75rem,
  "medium": 1.25rem,
  "large": 1.5rem
);
$colors:	(
  "primary": ($primary, $primary-invert),
  "danger": ($danger, $danger-invert),
  "warning": ($warning, $warning-invert),
  "success": ($success, $success-invert),
  "info": ($info, $info-invert)
);

@import '@oruga-ui/oruga-next/src/scss/oruga-full-vars';

/* Transitions */
.fade-slide-down-enter-active,
.fade-slide-down-leave-active {
  transition: all .2s ease-out;
}

.fade-slide-down-enter,
.fade-slide-down-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-slide-down-enter-to,
.fade-slide-down-leave {
  opacity: 1;
  transform: translateY(0);
}
