@use "globals" as *;
@use "colours" as *;
@use "mixins" as *;
@use "motion" as *;
@use "elevation" as *;

@use "fluid-scale" as *;
@use "fluid-space" as *;

$primary: $plungePool;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

:root {
  --base-font-family: #{$fontFamily};

  --jjk-focus: color-mix(in srgb, #{$plungePool}, transparent 50%);

  --app-gradient-primary: linear-gradient(15deg, #{$orchid}, #{$plungePool});
  @include createTheme($variables);
}

input {
  outline-color: #{$orchid};
}

html,
body,
#app,
:root {
  background-color: var(--app-color-background);
  color: var(--app-color-on-background);
  font-family: var(--base-font-family);
  font-size: var(--step-0);
  line-height: 1.5;
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1.2;
  text-wrap: balance;
  letter-spacing: -0.05ch;
  &.gradiented, &:is(.htw-prose :is(h1, h2, h3)) {
    --stretch-factor: 0.8;
    background: makePrimaryGradient(5deg, 0.5);
    color: transparent;
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    scale: 1 var(--stretch-factor);
    transform-origin: top;
    margin-block-end: calc(-1em * (1 - var(--stretch-factor)));
  }
  &.step-1 {
    font-size: var(--step-1);
  }
  &.step-2, &:is(.htw-prose h3) {
    font-size: var(--step-2);
  }
  &.step-3, &:is(.htw-prose h2) {
    font-size: var(--step-3);
  }
  &.step-4, &:is(.htw-prose h1)  {
    font-size: var(--step-4);
  }
  &.step-5 {
    font-size: var(--step-5);
  }
}

a {
  color: var(--app-color-secondary);
  text-underline-offset: 0.15em;
  text-underline-position: under;
  text-decoration-color: color-mix(in srgb, currentColor 50%, transparent);
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
  &:focus {
    outline-offset: 0.1em;
  }
  &:visited {
    opacity: 0.7;
  }
}

* {
  margin: 0;
}

/* Transitions */
.fade-slide-down-enter-active,
.fade-slide-down-leave-active {
  transition: all var(--app-motion-standard-leave);
}

.fade-slide-down-enter,
.fade-slide-down-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-slide-down-enter-to,
.fade-slide-down-leave {
  opacity: 1;
  transform: translateY(0);
}

/* nprogress */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $primary;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Shapes */
.app-shape-squircle {
  --default-app-shape-squircle-border-width: 1px;
  --default-app-shape-squircle-corner-radius: var(--space-3xs);
  --default-app-shape-squircle-corner-radius-2: var(--app-shape-squircle-corner-radius, var(--default-app-shape-squircle-corner-radius));
  --default-app-shape-squircle-border-color: var(--app-color-outline);

  --_b: var(--app-shape-squircle-border-width, var(--default-app-shape-squircle-border-width));

  --_r: clamp(0%, calc(var(--app-shape-squircle-corner-radius, var(--default-app-shape-squircle-corner-radius)) * sqrt(2)), 25%);
  --_r2: clamp(0%, calc(var(--app-shape-squircle-corner-radius-2, var(--default-app-shape-squircle-corner-radius-2)) * sqrt(2)), 25%);

  --_v: calc(var(--_r) * (1 - sqrt(2) / 4));
  --_v2: calc(var(--_r2) * (1 - sqrt(2) / 4));

  --_p: calc(var(--_v) - var(--_r) / 2);
  --_p2: calc(var(--_v2) - var(--_r2) / 2);


  --squircle-shape:
    from calc(var(--_v2) + var(--_b)) calc(var(--_p2) + var(--_b)),
    curve to 50% var(--_b) with calc(var(--_r2) + var(--_b)) var(--_b),


    curve to calc(100% - var(--_v) - var(--_b)) calc(var(--_p) + var(--_b)) with calc(100% - var(--_r) - var(--_b)) var(--_b),
    curve to calc(100% - var(--_p) - var(--_b)) calc(var(--_v) + var(--_b)) with calc(100% - 2 * var(--_p) - var(--_b)) calc(2 * var(--_p) + var(--_b)),
    curve to calc(100% - var(--_b)) 50% with calc(100% - var(--_b)) calc(var(--_r) + var(--_b)),


    curve to calc(100% - var(--_p2) - var(--_b)) calc(100% - var(--_v2) - var(--_b)) with calc(100% - var(--_b)) calc(100% - var(--_r2) - var(--_b)),
    curve to calc(100% - var(--_v2) - var(--_b)) calc(100% - var(--_p2) - var(--_b)) with calc(100% - 2 * var(--_p2) - var(--_b)) calc(100% - 2 * var(--_p2) - var(--_b)),
    curve to 50% calc(100% - var(--_b)) with calc(100% - var(--_r2) - var(--_b)) calc(100% - var(--_b)),


    curve to calc(var(--_v) + var(--_b)) calc(100% - var(--_p) - var(--_b)) with calc(var(--_r) + var(--_b)) calc(100% - var(--_b)),
    curve to calc(var(--_p) + var(--_b)) calc(100% - var(--_v) - var(--_b)) with calc(2 * var(--_p) + var(--_b)) calc(100% - 2 * var(--_p) - var(--_b)),
    curve to var(--_b) 50% with var(--_b) calc(100% - var(--_r) - var(--_b)),


    curve to calc(var(--_p2) + var(--_b)) calc(var(--_v2) + var(--_b)) with var(--_b) calc(var(--_r2) + var(--_b)),
    curve to calc(var(--_v2) + var(--_b)) calc(var(--_p2) + var(--_b)) with calc(2 * var(--_p2) + var(--_b)) calc(2 * var(--_p2) + var(--_b));

  --squircle-shape-no-border:
    from calc(var(--_v2)) calc(var(--_p2)),
    curve to 50% 0% with calc(var(--_r2)) 0%,


    curve to calc(100% - var(--_v)) calc(var(--_p)) with calc(100% - var(--_r)) 0%,
    curve to calc(100% - var(--_p)) calc(var(--_v)) with calc(100% - 2 * var(--_p)) calc(2 * var(--_p)),
    curve to 100% 50% with 100% calc(var(--_r)),


    curve to calc(100% - var(--_p2)) calc(100% - var(--_v2)) with 100% calc(100% - var(--_r2)),
    curve to calc(100% - var(--_v2)) calc(100% - var(--_p2)) with calc(100% - 2 * var(--_p2)) calc(100% - 2 * var(--_p2)),
    curve to 50% 100% with calc(100% - var(--_r2)) 100%,


    curve to calc(var(--_v)) calc(100% - var(--_p)) with calc(var(--_r)) 100%,
    curve to calc(var(--_p)) calc(100% - var(--_v)) with calc(2 * var(--_p)) calc(100% - 2 * var(--_p)),
    curve to 0% 50% with 0% calc(100% - var(--_r)),


    curve to calc(var(--_p2)) calc(var(--_v2)) with 0% calc(var(--_r2)),
    curve to calc(var(--_v2)) calc(var(--_p2)) with calc(2 * var(--_p2)) calc(2 * var(--_p2));

  clip-path: shape(var(--squircle-shape));

  &:before {
    pointer-events: none;
    content: "";
    position: absolute;
    inset: var(--app-shape-squircle-border-width, var(--default-app-shape-squircle-border-width));
    background: var(--app-shape-squircle-border-color, var(--default-app-shape-squircle-border-color));
    clip-path: shape(evenodd var(--squircle-shape),
        move to calc(0%) calc(0%),
        hline to calc(100%),
        vline to calc(100%),
        hline to calc(0%));
  }
}
