@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--base-font-family);
}

.histoire-generic-render-story {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
